{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}

.jumbotron {
	background-color:#005276;
	color: #FFF;
}

{% endblock %}
</style>


     
{% block jumbotron %}
 {% if not request.user.is_authenticated %}

<div class="jumbotron">
 <div class="container">
	<div class="row">
		<div class='col-sm-6'>
		<h1>The Matchmaker</h1>
		<p>Get to work with the best of those suited to you in the same location with the same interests.
            A happy workplace is a productive workplace.</p>
		<p>
		<a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}" role="button">Join Us Today !</a>
		</p>
		</div>
		<div class='col-sm-6' >
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GO649Txwd4c" frameborder="0" allowfullscreen></iframe>
 		</div>
		</div>
	</div>
 </div>
 {% endif %}
{% endblock %}




{% block content %}
 {% if request.user.is_authenticated %}
<h1>You are logged in!</h1>

	{% if queryset %}
	<h2>Welcome Staff</h2>
	<table class='table'>
	{% for instance in queryset %}
		<tr><td>{{ forloop.counter }}</td><td>{{ instance.email }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }} ago</td></tr>
		{% if instance.email == "abc@gmail.edu" %}
		<tr><td>is equal</td></tr>
		{% endif %}
	{% endfor %}
	</table>

	{% endif %}

 {% else %}
<div class="row">

  <div class="col-sm-3 pull-right">
  	
			<p class='lead text-align-center'>{{ title }}</p>

			<form method='POST' action=''>{% csrf_token %}
			{{ form|crispy }}
			</form>
	</div>

	<div class='col-sm-3'>
<p class='lead text-align-center'>Happier Workplaces</p>
			<img src='{% static "img/workplace-happy.jpg" %}' class='img-responsive' />
</div>

<div class='col-sm-3'>
<p class='lead text-align-center'>Increased productivity
<br/><br/>
<img src='{% static "img/productvity.jpg" %}' class='img-responsive' />
</p>

</div>

<div class='col-sm-3'>
<p class='lead text-align-center'>No more sleepless nights<br/><br/>
<img src='{% static "img/frustration.jpeg" %}' class='img-responsive' />

</p>


</div>


</div>
{% endif %}

{% endblock %}